

/* Search Bar */

/* Style for the search bar container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

}

/* Style for the search bar form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the search bar input field */
input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

/* Style for the search bar button */
button[type=submit] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: darkred;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Style for the search bar label */
label[for="occupation-type"] {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

/* End Search Bar */


#CCbutton{
  padding-top: 9px;
  padding-bottom: 9px;
}



#btnSearch:hover{
  background-color: #b6190b;
  color: white;
}

#infoBtn{
  color:#7a1107;
}
