body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

form {
  width: 600px;
  padding: 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

input {
  display: block;
  border: 2px solid #e0e0e0;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
}

label {
  color: #777;
  font-size: 16px;
  padding: 10px 0;
  display: block;
}

button {
  display: inline-block;
  background: #7a1107;
  padding: 12px 24px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #555;
}

.error {
  background: #f0f0f0;
  color: #333;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 20px 0;
}

a {
  display: inline-block;
  background: #777;
  padding: 12px 24px;
  color: #fff;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

a:hover {
  background: #999;
}

/* Header */
header {
  width: 100%;
  background: #333;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

header h1 {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  width: 100%;
  background: #333;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

footer p {
  color: #fff;
  margin: 0;
  font-size: 16px;
}

.btn-back{
  background-color: red;
  align-self: center;
}

.btnlogin{
  background: #7a1107
}

#signUpBtn{
  background: #333
}
