
  /* Search Results */

  .results-container {
    margin: 30px auto;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #f7f7f7;
    margin-top: 0px;
  }

  h3 {
    color:#333;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .results-container table th {
    background-color: #333;
    color: #fff;
    text-align: left;
  }
  
  th,
  td {
    padding: 5px;
    border: 1px solid #ccc;
    color: #333;
  }

  /* End Search Results */

  #CCbutton{
    padding-top: 9px;
    padding-bottom: 9px;
  }

  #btnAddComment{
    background-color: #7a1107;
    border: none;
  }

  #btnAddComment:hover{
    background-color: #b6190b;
    border: none;
  }


  #buttonAddComment{
    background-color: #7a1107;
    border: none;
  }

  #buttonAddComment:hover{
    background-color: #b6190b;
    border: none;
  }


  #buttonNewProject{
    background-color: #7a1107;
    border: none;
    margin-top: 15px;
  }

  #buttonNewProject:hover{
    background-color: #b6190b;
    border: none;
  }


  #buttonCreateProject{
    background-color: #7a1107;
    border: none;
    margin-top: 15px;
  }

  #buttonCreateProject:hover{
    background-color: #b6190b;
    border: none;
  }

  #detailsRed{
    color:#7a1107;
  }


  #buttonCreateProject{
    background-color:#7a1107;
    height: 45px;
    
    margin:0px;
    margin-right: 15px;
    border:0px;
}


#buttonCreateProject:hover{
    background-color: #b6190b;
    ;
}

#backBtn{
    height: 45px;
    align-items: center;

}

#infoBtn{
  color:#7a1107;
}



.amount-owed {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2em; /* You can adjust this value to suit your needs */
}

#noResults{
  color:#333;
}

.no-results {
  color: black;
}

.center-text {
  text-align: center;
}

#addCommentBtn{
  margin-top: 15px;
  background-color: #7a1107;
  border:none;
}

#addCommentBtn:hover{
  margin-top: 15px;
  background-color: #b6190b;
  border:none;
}


.content-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  margin-right: 10px; /* Adds some space between the text and the button */
}

.delete-btn {
  color: white;
  background-color: #7a1107;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px; 
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px; 
}
.no-results {
  color: black;
}

#delBtn{
  background-color:#7a1107;
  border:none;
  width: 25px;  /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  padding: 0;   /* Remove padding */
  font-size: 10px; /* Adjust as needed */
}

#delBtn:hover{
  background-color:#b6190b;
  border:none;
}


#techName{
  color:#7a1107;
}